<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="Quản lý dự án"
            sequence="0"
        />        
        <menuitem
            id="menu_du_an"
            name="Dự án"
            parent="menu_root"
            sequence="1"
            action="action_du_an_list"
        />
        
       
        <menuitem
            id="menu_cong_viec"
            name="Công Việc"
            parent="menu_root"
            sequence="2"
            action="action_cong_viec_list"
        />

        <!-- Submenu for Chi Phi -->
        <menuitem
            id="menu_chi_phi"
            name="Chi Phí"
            parent="menu_root"
            sequence="5"
            action="action_chi_phi_list"
        />
      
       
       
        
    </data>
</odoo>